body {
    background-color: #EEEEEE;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #00ADB5;
    border-width: 5px;
    height: 0px;
    width: 10%;
  }

  h1, h3 {
    color: #00ADB5;
  }